@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "pokedex_light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.022 95.277);
  --color-base-200: oklch(96% 0.059 95.617);
  --color-base-300: oklch(94% 0.129 101.54);
  --color-base-content: oklch(27% 0.105 12.094);
  --color-primary: oklch(90% 0.182 98.111);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(50% 0.118 165.612);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(60% 0.126 221.723);
  --color-neutral-content: oklch(97% 0.014 343.198);
  --color-info: oklch(59% 0.145 163.225);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
    name: "pokedex_dark";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(26% 0.007 34.298);
    --color-base-content: oklch(97% 0.001 106.424);
    --color-primary: oklch(80% 0.105 251.813);
    --color-primary-content: oklch(28% 0.091 267.935);
    --color-secondary: oklch(87% 0 0);
    --color-secondary-content: oklch(14% 0 0);
    --color-accent: oklch(81% 0.111 293.571);
    --color-accent-content: oklch(28% 0.141 291.089);
    --color-neutral: oklch(14% 0.004 49.25);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 1;
  }
  